* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
  
body {
    font-family: "Work Sans", 'Montserrat', sans-serif,Helvetica Neue, Helvetica, Arial;
    font-size: 100%;
    font-weight: 400;
    background: #fff;
    color: #000;
    line-height: 1.85rem;
    width:100%;
    overflow-x: hidden;
}
  
.container {
    max-width: 1400px;
    padding: 0px 10px;
    margin: 0 auto;
}
